---
// TODO -> ESCOLHER TRÊS FOTOS
import heroImage from "@assets/fotos/fachada_red_mm.jpg";
import heroImage2 from "@assets/fotos/area_comum/salao_de_festas_2.webp";
import heroImage3 from "@assets/fotos/interior/interior_801_803_cob_5.webp";
import heroImage4 from "@assets/fotos/interior/interior_801_803_cob_4.webp";
import Modal from "../Modal.astro";
import BotaoCTA from "../BotaoCTA.astro";

import zap from "@assets/svg/zap.svg";
import pdf from "@assets/svg/icon-pdf.svg";

const heroImages = [heroImage, heroImage2, heroImage3, heroImage4];

const TELEFONE = "5551992219166";
const WPP_MSG =
  "Olá, estava olhando a landing page do Maria Maggiore e gostaria de saber mais sobre o empreendimento.";

const API_ZAP = `https://api.whatsapp.com/send?phone=${TELEFONE}&text=${WPP_MSG}`;
const URL_MATERIAL =
  "https://drive.capazestudio.com.br/index.php/s/z8PyiYDf2sxiHR7";
---

<section id="inicio" class="h-auto">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

      {
        heroImages.map((heroImage) => (
          <div class="swiper-slide">
            <img
              src={heroImage.src}
              class="h-[75svh] object-cover w-full overflow-hidden"
            />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="bg-white text-black">
    <div
      class="grid grid-cols-1 place-items-center lg:grid-cols-2 lg:place-items-start py-16 container mx-auto gap-y-16 gap-x-16 xl:gap-x-0 px-8">
      <h2 class="text-xl text-maggiore-green max-w-lg">
        Aconchegante. Moderno. <br /> Perto da natureza. Próximo de tudo.
      </h2>
      <p class="self-end">Rua Nicolau Faillace, 396 - Porto Alegre / RS</p>
      <svg
        viewBox="0 0 541 91"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-80 object-contain">
        <path
          d="M1.7114 90.6372C1.33664 90.6372 0.96188 90.5255 0.624598 90.2648C-0.124916 89.6691 -0.199873 88.5892 0.399739 87.8818C27.9819 54.295 50.2799 1.56895 50.5048 1.04765C50.8795 0.191221 51.8539 -0.218374 52.7533 0.116749C53.6153 0.489108 54.0275 1.45724 53.6902 2.3509C53.4654 2.87221 30.9799 56.0451 3.06053 90.0042C2.72324 90.4138 2.23605 90.6372 1.74887 90.6372H1.7114Z"
          fill="#313F36"></path>
        <path
          d="M96.0377 81.3655C95.3256 81.3655 94.6136 81.291 93.9765 81.1793C91.8404 80.7325 90.1914 79.5409 89.1046 77.6791C82.0592 65.5402 96.5248 42.305 102.671 34.411C106.306 29.7565 106.643 26.666 106.531 25.2138C106.493 24.7297 106.119 24.3201 105.631 24.2829C105.519 24.2829 105.407 24.2829 105.332 24.2829C98.4361 24.2829 83.5957 42.1561 73.7396 54.0343C68.1182 60.8113 63.2464 66.6573 59.986 69.45C57.2128 71.7959 54.1023 73.9928 52.0037 72.4661C49.8676 70.9022 50.9918 66.8807 52.3035 63.7529C52.341 63.6412 52.3784 63.5667 52.4534 63.4923C52.5284 63.3806 59.4239 52.9173 65.345 41.7465C75.9881 21.6391 74.0019 17.2825 73.14 16.4261C73.0276 16.3144 72.6528 15.9793 71.6784 15.9793C63.2839 16.0165 40.2738 37.6133 32.1041 45.9169C31.4295 46.5872 30.3427 46.5872 29.6682 45.9169C28.9936 45.2467 28.9936 44.1668 29.6682 43.4966C32.7786 40.3315 60.3608 12.5908 71.6784 12.5536H71.7159C73.2899 12.5536 74.6015 13.0376 75.5759 14.0058C77.9369 16.3516 79.7357 21.8998 68.3806 43.3476C62.7592 53.9971 56.2384 63.9763 55.414 65.2424C54.7769 66.7318 54.3272 68.4074 54.2522 69.3755C54.8518 69.0776 55.9386 68.4446 57.7749 66.8807C60.8105 64.2742 65.5699 58.5399 71.1163 51.8747C86.0316 33.927 98.0613 20.2614 105.969 20.8944C108.105 21.0806 109.791 22.7562 109.979 24.9159C110.166 27.2617 109.529 31.1715 105.444 36.459C98.6609 45.1722 86.5188 66.2849 92.1402 75.9663C92.7398 77.0089 93.5643 77.6047 94.7635 77.8653C98.9982 78.759 106.868 75.2216 116.987 67.8861C120.584 65.2796 124.107 62.1518 127.442 58.5399C133.513 52.0236 137.936 49.7895 140.971 51.6885C141.758 52.2098 141.983 53.2524 141.496 54.0343C140.971 54.8163 139.922 55.0397 139.135 54.5556C138.423 54.1088 135.575 54.8163 129.953 60.8485C126.468 64.6093 122.795 67.8861 119.01 70.6416C109.154 77.7908 101.472 81.4027 96.1126 81.4027L96.0377 81.3655Z"
          fill="#313F36"></path>
        <path
          d="M178.522 79.7271C176.798 79.7271 175.824 79.0196 175.299 78.3866C171.514 74.0672 176.161 63.9391 178.784 58.9867C178.072 58.8377 177.323 58.6143 176.648 58.242C169.04 67.4765 157.648 79.392 149.628 78.9451C146.967 78.7962 144.794 77.6791 143.407 75.6311C140.634 71.6097 141.233 64.7583 142.245 59.7314C140.596 61.3325 138.648 63.2316 136.661 65.0561C127.218 73.6576 123.957 74.6258 121.971 73.397C120.997 72.8012 120.397 71.8703 120.21 70.716C119.685 67.0669 124.145 61.8911 125.044 60.8857C125.681 60.1782 126.768 60.141 127.442 60.7368C128.154 61.3698 128.229 62.4496 127.592 63.1571C125.831 65.0934 123.358 68.7053 123.582 70.2319C123.582 70.3064 123.582 70.3436 123.62 70.4181C126.168 70.1947 136.249 61.2581 144.232 52.88C144.794 52.2842 145.656 52.1725 146.368 52.5821C147.042 52.9917 147.379 53.8109 147.117 54.5928C145.843 58.4281 143.22 69.3383 146.255 73.7321C147.08 74.8864 148.204 75.4822 149.853 75.5567C149.928 75.5567 150.04 75.5567 150.115 75.5567C156.449 75.5567 166.792 64.8327 174.362 55.6355C173.537 53.3268 174.662 50.348 177.735 46.5499C181.895 41.4858 183.469 40.3687 185.08 41.3741C186.467 42.2305 186.354 44.0551 184.743 47.5925C184.705 47.667 184.668 47.7787 184.593 47.8532C183.956 48.7841 181.857 51.7257 178.897 55.4493C179.721 55.7099 180.77 55.8216 181.52 55.7844C182.157 55.7844 182.757 56.0823 183.056 56.6036C183.356 57.1249 183.394 57.7951 183.056 58.3537C179.684 64.0508 175.749 73.6204 177.922 76.1152C177.997 76.1897 178.259 76.2641 178.597 76.2641C184.256 76.2641 202.319 62.4496 211.201 52.5076C211.8 51.8002 212.85 51.7257 213.562 52.3215C214.274 52.9172 214.386 53.9598 213.824 54.6673C211.013 58.2047 203.93 69.1893 208.015 73.2108C210.189 75.3705 220.832 72.4288 239.682 60.9974C241.556 59.8803 243.28 58.5026 244.779 56.9387C248.864 52.6938 252.162 50.4969 254.597 50.4969C255.647 50.4969 256.584 50.8693 257.333 51.5767C258.008 52.247 258.008 53.3268 257.333 53.9971C256.659 54.6673 255.572 54.6673 254.897 53.9971C254.897 53.9971 254.822 53.9226 254.635 53.9226C253.548 53.9226 251.037 55.3748 247.252 59.3218C245.566 61.1091 243.617 62.6358 241.481 63.9391C221.844 75.8545 209.777 79.7643 205.617 75.6684C202.918 72.9874 202.656 68.9287 204.755 63.5667C195.798 71.4235 184.293 79.6898 178.634 79.6898L178.522 79.7271Z"
          fill="#313F36"></path>
        <path
          d="M264.941 78.4983C262.842 78.4983 261.043 77.6419 259.807 76.0407C256.921 72.3544 257.371 65.1306 258.158 60.0293C252.162 65.9498 242.68 74.663 238.783 74.663C236.422 74.663 235.56 73.4342 235.223 72.7267C233.724 69.3383 238.933 62.8592 242.193 59.2846C242.83 58.5771 243.917 58.5399 244.629 59.1729C245.341 59.8059 245.379 60.8857 244.742 61.5932C241.294 65.3913 238.333 69.8223 238.371 71.2373C238.446 71.2373 238.595 71.2373 238.82 71.2373C240.694 71.2373 249.201 64.4976 259.732 53.5875C260.256 53.0289 261.118 52.9172 261.793 53.2896C262.467 53.6619 262.805 54.4439 262.617 55.1886C261.606 59.1356 259.582 70.1947 262.542 73.9555C263.142 74.7375 263.929 75.0726 264.978 75.0726C272.249 75.0726 285.627 60.9974 290.2 55.5982C290.799 54.8907 291.886 54.779 292.598 55.3748C293.31 55.9706 293.422 57.0504 292.823 57.7579C291.061 59.8803 275.172 78.4611 264.978 78.4611L264.941 78.4983Z"
          fill="#313F36"></path>
        <path
          d="M333.586 58.1965C335.454 53.8506 339.361 52.0363 343.013 52.0363C348.746 52.0363 352.652 55.4117 352.652 61.9517V76.8037H350.359V62.8799C350.359 56.9729 347.684 54.1881 342.546 54.1881C338.087 54.1881 334.095 58.1121 334.095 63.2175V76.8037H331.845V62.8799C331.845 56.9729 329.127 54.1881 323.989 54.1881C319.53 54.1881 315.538 58.1121 315.538 63.1331V76.8037H313.245V52.5426H315.538V57.2682C317.661 53.4708 321.271 52.0363 324.456 52.0363C328.957 52.0363 332.312 54.1459 333.586 58.1965Z"
          fill="#313F36"></path>
        <path
          d="M384.713 76.7615H382.463V71.403C380.467 74.9472 376.433 77.2679 371.974 77.2679C365.18 77.2679 360.041 71.7827 360.041 64.6099C360.041 57.437 365.18 51.9941 371.974 51.9941C376.433 51.9941 380.382 54.2303 382.42 57.7324V52.4582H384.713V76.7194V76.7615ZM362.292 64.6099C362.292 70.6857 366.454 75.2004 372.144 75.2004C378.131 75.2004 382.59 70.5591 382.59 64.6099C382.59 58.6606 378.131 54.0616 372.144 54.0616C366.156 54.0616 362.292 58.6184 362.292 64.6099Z"
          fill="#313F36"></path>
        <path
          d="M417.114 75.7067C417.114 82.542 412.486 87.3943 403.611 87.3943C400.298 87.3943 396.689 86.3394 394.735 85.369L395.118 83.3437C397.878 84.6517 400.85 85.3268 403.695 85.3268C409.853 85.3268 414.864 82.0779 414.864 75.4535V71.4452C412.868 74.9894 408.834 77.3101 404.375 77.3101C397.58 77.3101 392.442 71.8249 392.442 64.6521C392.442 57.4792 397.58 52.0363 404.375 52.0363C408.834 52.0363 412.783 54.2725 414.821 57.7745V52.5004H417.114V75.7067ZM394.693 64.6099C394.693 70.6857 398.854 75.2004 404.545 75.2004C410.532 75.2004 414.991 70.5591 414.991 64.6099C414.991 58.6606 410.532 54.0615 404.545 54.0615C398.557 54.0615 394.693 58.6184 394.693 64.6099Z"
          fill="#313F36"></path>
        <path
          d="M449.473 75.7067C449.473 82.542 444.844 87.3943 435.969 87.3943C432.657 87.3943 429.047 86.3394 427.094 85.369L427.476 83.3437C430.236 84.6517 433.209 85.3268 436.054 85.3268C442.211 85.3268 447.222 82.0779 447.222 75.4535V71.4452C445.226 74.9894 441.192 77.3101 436.733 77.3101C429.939 77.3101 424.801 71.8249 424.801 64.6521C424.801 57.4792 429.939 52.0363 436.733 52.0363C441.192 52.0363 445.141 54.2725 447.18 57.7745V52.5004H449.473V75.7067ZM427.094 64.6099C427.094 70.6857 431.255 75.2004 436.946 75.2004C442.933 75.2004 447.392 70.5591 447.392 64.6099C447.392 58.6606 442.933 54.0615 436.946 54.0615C430.958 54.0615 427.094 58.6184 427.094 64.6099Z"
          fill="#313F36"></path>
        <path
          d="M458.645 44.3992C458.645 43.3022 459.452 42.5005 460.514 42.5005C461.575 42.5005 462.425 43.3444 462.425 44.3992C462.425 45.4541 461.618 46.2979 460.514 46.2979C459.41 46.2979 458.645 45.4541 458.645 44.3992ZM459.367 52.5004H461.66V76.7615H459.367V52.5004Z"
          fill="#313F36"></path>
        <path
          d="M481.831 51.9941C489.008 51.9941 494.401 57.4792 494.401 64.6099C494.401 71.7406 489.008 77.2257 481.831 77.2257C474.655 77.2257 469.262 71.7406 469.262 64.6099C469.262 57.4792 474.655 51.9941 481.831 51.9941ZM481.831 75.1582C487.691 75.1582 492.108 70.5169 492.108 64.6099C492.108 58.7028 487.691 54.0616 481.831 54.0616C475.971 54.0616 471.555 58.7028 471.555 64.6099C471.555 70.5169 475.929 75.1582 481.831 75.1582Z"
          fill="#313F36"></path>
        <path
          d="M504.295 56.5088C505.442 53.5974 508.754 51.9941 511.472 51.9941C512.831 51.9941 514.062 52.205 514.657 52.5004L514.444 54.6101C513.722 54.3569 512.788 54.1459 511.387 54.1459C507.268 54.1459 504.253 57.1839 504.253 63.0065V76.7616H501.96V52.5004H504.253V56.5088H504.295Z"
          fill="#313F36"></path>
        <path
          d="M539.499 74.9894C536.781 76.635 533.893 77.2679 530.921 77.2679C522.937 77.2679 517.417 72.1203 517.417 64.6521C517.417 57.1838 522.47 52.0363 529.562 52.0363C537.758 52.0363 541.834 58.4918 540.858 65.4115H519.837C520.177 72.0359 525.528 75.116 530.836 75.116C533.596 75.116 536.654 74.3987 539.032 72.7532L539.456 74.9894H539.499ZM538.777 63.5128C538.522 58.1965 535.252 54.1459 529.689 54.1459C524.126 54.1459 520.262 58.1543 519.88 63.5128H538.777Z"
          fill="#313F36"></path>
      </svg>

      <div class="flex flex-col md:flex-row gap-4 self-end text-nowrap">
        <BotaoCTA
          label="Baixar Material Completo"
          icon={pdf}
          variant={["bg-transparent", "border", "border-maggiore-verde-800"]}
          url={URL_MATERIAL}
        />
        <BotaoCTA
          label="Fale Conosco"
          icon={zap}
          variant={["bg-maggiore-green", "text-white"]}
          url={API_ZAP}
        />
      </div>
    </div>
  </div>
</section>

<style>
  .swiper-pagination {
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-color: #aea181;
    --swiper-pagination-bullet-inactive-color: #f1f1f1;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
  }
  .swiper-pagination-bullet {
    border: 2px solid white;
  }
  .swiper-slide {
    @apply h-[55svh] w-full object-cover overflow-hidden;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";
  import "swiper/css/bundle";

  const swiper = new Swiper(".swiper", {
    modules: [Pagination, Autoplay],

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: true,

    loop: true,
  });
</script>
