---
import { Image } from "astro:assets";
import fachadaSobre from "@assets/fachada_sobre.png";
import ProgressoObra from "../ProgressoObra.astro";

const listaCaracteristicas = [
  "Torre única",
  "Apartamentos de 2 e 3 dormitórios (opções de gardens e coberturas)",
  "Vagas de garagem 100% cobertas",
  "Churrasqueira a carvão em todas as unidades",
  "Espera para split na sala e dormitórios",
  "Bicicletário com bike sharing",
  "Salão de festas com terraço, mobiliado e equipado",
  "Rooftop com churrasqueira, solarium e fire place",
  "Excelente posição solar",
  "Baixo custo condominial",
];

const unidadesDisponiveis = 21;
const dataEntrega = "Dezembro de 2025";
const andamentoGeral = 65;
---

<section id="sobre" class="py-24 space-y-24 overflow-hidden">
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-y-12">
    <Image
      src={fachadaSobre}
      alt="Fachada Maria Maggiore"
      class={"h-full object-contain xl:pr-8"}
    />
    <ol
      class="text-white text-base md:text-lg custom-counter list-none flex flex-col space-y-4 px-8 md:justify-between lg:px-0 ">
      {listaCaracteristicas.map((caracteristica) => <li>{caracteristica}</li>)}
    </ol>
  </div>
  <div class="container mx-auto text-white space-y-12">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 place-items-center">
      <div class="flex flex-col gap-4 px-16 items-center place-self-stretch">
        <h4>Unidades</h4>
        <span> {unidadesDisponiveis}</span>
      </div>
      <div class="flex flex-col gap-4 px-16 items-center place-self-stretch">
        <h4>Entrega</h4>
        <span>{dataEntrega}</span>
      </div>

      <ProgressoObra descricao="Andamento da obra" progresso={andamentoGeral} />
    </div>
  </div>
</section>

<style>
  h4 {
    @apply text-white text-xl;
  }
  div > span {
    @apply text-xl font-bold py-2 border border-maggiore-dourado-400 self-stretch text-center block w-full;
  }

  .custom-counter {
    counter-reset: list-counter;
  }

  .custom-counter li {
    position: relative;
    padding-left: 3em; /* Ajuste conforme necessário */
  }

  .custom-counter li::before {
    content: counter(list-counter, decimal-leading-zero);
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    color: #aea181; /* Substitua pelo valor da cor que você quiser */
    font-weight: bold;
  }
</style>
